@import "../config.css";

.button{
    width: 80px;
    height: 48px;
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-size: 18px;

    /* background-color: var(--primary); */

}

.button.add{
    background-color: var(--primary);   
}
.button.delete{
    background-color: red;  

}

@media screen and (min-width: 768px) {
    .button{
        width: 109px;
        height: 58px;
        padding: 10px;
        border-radius: 12px;
        color: white;
        /* background-color: var(--primary); */
    
    }
    
}