@import "../config.css";

.button{
    width: 100px;
    height: 48px;
    padding: 10px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-weight: bold;

    /* background-color: var(--primary); */

}

.button.add{
    background-color: var(--primary);   
}
.button.delete{
    background-color: red;  

}

@media screen and (min-width: 768px) {
    .button{
        width: 109px;
        height: 58px;
        padding: 10px;
        border-radius: 12px;
        color: white;
        /* background-color: var(--primary); */
    
    }
    
}